#contact
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 40vh;
    background-color: #eeeee4;
}
.vi
{
    height: 50%;
    width: 17%;
    background-color: white;
}
.vi1
{
    height: 50%;
    width: 17%;
    background-color: white;
}
.vi2
{
    height: 50%;
    width: 17%;
    background-color: white;
}
.vi3
{
    height: 50%;
    width: 17%;
    background-color: white;
}
#contact div 
{
    margin-left: 1%;
    margin-right: 1%;
}
#contact div p
{
    font-family: Palanquin-Regular;
    color: #595959;
    padding-left: 8%;
    padding-top: 6%;
}
#contact div label
{
    font-family: Palanquin-Regular;
    padding-left: 8%;
    color: #595959;
}
.main-contact
{
    height: 90vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeee4;
}

.img-contact
{
    height: 80vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(0, 77, 0,0.6);
    border-radius: 20px 0px 0px 20px;
}

.input-contact
{
    height: 80vh;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    border-radius: 0px 20px 20px 0px;
}
.input-contact >button
{
    height: 8%;
    width: 25%;
    border: none;
    background-color: #00b300;
    color: white;
    border-radius: 20px;
    margin-top: 5%;
}
.input-contact >button:hover
{
    background-color: white;
    color: black;
    cursor: pointer;
}
.img-cont
{
    width: 70%;
    height: 80%;
}

.name-cont
{
    height: 7%;
    width: 60%;
    font-family: Palanquin-Regular;
    padding-left: 2%;
    margin-top: 10%;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px  10px #cccccc;
}

.mail-cont
{
    height: 7%;
    width: 60%;
    font-family: Palanquin-Regular;
    padding-left: 2%;
    margin-top: 5%;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px  10px #cccccc;
}
.subject-cont
{
    height: 7%;
    width: 60%;
    padding-left: 2%;
    font-family: Palanquin-Regular;
    margin-top: 5%;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px  10px #cccccc;
}
.message-cont
{
    height: 30%;
    width: 60%;
    padding-left: 2%;
    margin-top: 5%;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 10px;
    font-family: Palanquin-Regular;
    line-height: 100px;
    box-shadow: 1px 1px  10px #cccccc;
}
@media all and (max-width:1025px)
{
    #contact
    {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .vi
    {
        height: 20vh;
        width: 60%;
        background-color: white;
    }
    .vi1
    {
        height: 20vh;
        width: 60%;
        background-color: white;
    }
    .vi2
    {
        height: 20vh;
        width: 60%;
        background-color: white;
    }
    .vi3
    {
        height: 20vh;
        width: 60%;
        background-color: white;
    }
    #contact div 
    {
        margin-top: 2%;
    }
    .main-contact
    {
        flex-wrap: wrap;
        height: 180vh;
    }
    .img-contact
    {
        width: 70%;
        border-radius: 20px;
        transition: .4s;
    }
    .input-contact
    {
        width: 70%;
        border-radius: 20px;
        transition: .4s;
    }
}
@media all and (max-width:500px)
{
    .img-contact
    {
        width: 85%;
    }
    .input-contact
    {
        width: 85%;
    }
}