.main-nav {
  background-color: #03071e;
  box-shadow: 1px 1px 10px #e4e5ea;
}
.app-node {
  color: #03071e !important;
  background-color: #dc2f02 !important;
}
.home-brand {
  color: #dc2f02;
  font-weight: 700;
}
.list-nav {
  display: flex !important;
  justify-content: center !important;
  padding-left: 400px !important;
}
.list-text:hover {
  color: #dc2f02 !important;
  transition: 0.8s !important;
}
@media all and (max-width: 1000px) {
  .list-nav {
    background-color: #03071e !important;
    padding-left: 150px !important;
    margin: auto !important;
  }
  .nav-button {
    background-color: #fff !important;
  }
  .main-list {
    color: #dc2f02 !important;
  }
}
